DATABASE_URL="postgresql://postgres:postgres@localhost:5432/percy_site"
DOCKER_DATABASE_URL="postgresql://postgres:postgres@postgres:5432/percy_site"
POSTGRES_PORT=5432

NUXT_SESSION_SECRET="change-me"
NUXT_PUBLIC_SITE_URL="http://localhost:3000"
NUXT_PUBLIC_ADMIN_URL="http://localhost:3001"

ADMIN_EMAIL="admin@example.com"
ADMIN_INITIAL_PASSWORD="change-me"
